[tool.black]
line-length = 130
target-version = ["py311"]

[tool.ruff]
line-length = 130
target-version = "py311"

[tool.ruff.lint]
select = ["E", "F", "I"]
ignore = ["E203"]  # tương thích Black
fixable = ["ALL"]
