fastapi==0.104.1
uvicorn==0.23.2
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
pydantic[email]==2.5.3
pydantic-settings==2.1.0
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
PyJWT==2.9.0
websockets==11.0.3

loguru
asyncpg
httpx
requests

python-multipart==0.0.12

psycopg[binary]>=3.1
