--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-2.pgdg120+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-2.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ai; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA ai;


ALTER SCHEMA ai OWNER TO postgres;

--
-- Name: core; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA core;


ALTER SCHEMA core OWNER TO postgres;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: assessment_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.assessment_type AS ENUM (
    'RIASEC',
    'BigFive'
);


ALTER TYPE public.assessment_type OWNER TO postgres;

--
-- Name: blog_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.blog_status AS ENUM (
    'Draft',
    'Published',
    'Archived'
);


ALTER TYPE public.blog_status OWNER TO postgres;

--
-- Name: reaction_value; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.reaction_value AS ENUM (
    'like',
    'love',
    'wow',
    'sad',
    'angry'
);


ALTER TYPE public.reaction_value OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: career_embeddings; Type: TABLE; Schema: ai; Owner: postgres
--

CREATE TABLE ai.career_embeddings (
    career_id bigint NOT NULL,
    emb public.vector(768) NOT NULL,
    model_name text DEFAULT 'vi-sbert'::text,
    built_at timestamp with time zone DEFAULT now()
);


ALTER TABLE ai.career_embeddings OWNER TO postgres;

--
-- Name: user_embeddings; Type: TABLE; Schema: ai; Owner: postgres
--

CREATE TABLE ai.user_embeddings (
    user_id bigint NOT NULL,
    emb public.vector(768) NOT NULL,
    source text DEFAULT 'essay'::text,
    model_name text DEFAULT 'vi-sbert'::text,
    built_at timestamp with time zone DEFAULT now(),
    CONSTRAINT user_embeddings_source_check CHECK ((source = ANY (ARRAY['essay'::text, 'profile'::text])))
);


ALTER TABLE ai.user_embeddings OWNER TO postgres;

--
-- Name: assessments; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.assessments (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    a_type public.assessment_type NOT NULL,
    scores jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE core.assessments OWNER TO postgres;

--
-- Name: assessments_id_seq; Type: SEQUENCE; Schema: core; Owner: postgres
--

CREATE SEQUENCE core.assessments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE core.assessments_id_seq OWNER TO postgres;

--
-- Name: assessments_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: postgres
--

ALTER SEQUENCE core.assessments_id_seq OWNED BY core.assessments.id;


--
-- Name: audit_logs; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.audit_logs (
    id bigint NOT NULL,
    actor_id bigint,
    action text NOT NULL,
    entity text NOT NULL,
    entity_id bigint,
    data_json jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE core.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: core; Owner: postgres
--

CREATE SEQUENCE core.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE core.audit_logs_id_seq OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: postgres
--

ALTER SEQUENCE core.audit_logs_id_seq OWNED BY core.audit_logs.id;


--
-- Name: blog_posts; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.blog_posts (
    id bigint NOT NULL,
    author_id bigint NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    content_md text NOT NULL,
    status public.blog_status DEFAULT 'Draft'::public.blog_status,
    published_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE core.blog_posts OWNER TO postgres;

--
-- Name: blog_posts_id_seq; Type: SEQUENCE; Schema: core; Owner: postgres
--

CREATE SEQUENCE core.blog_posts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE core.blog_posts_id_seq OWNER TO postgres;

--
-- Name: blog_posts_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: postgres
--

ALTER SEQUENCE core.blog_posts_id_seq OWNED BY core.blog_posts.id;


--
-- Name: career_categories; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.career_categories (
    id bigint NOT NULL,
    name text NOT NULL,
    parent_id bigint
);


ALTER TABLE core.career_categories OWNER TO postgres;

--
-- Name: career_categories_id_seq; Type: SEQUENCE; Schema: core; Owner: postgres
--

CREATE SEQUENCE core.career_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE core.career_categories_id_seq OWNER TO postgres;

--
-- Name: career_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: postgres
--

ALTER SEQUENCE core.career_categories_id_seq OWNED BY core.career_categories.id;


--
-- Name: career_stats; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.career_stats (
    career_id bigint NOT NULL,
    market_outlook text,
    avg_salary numeric(12,2),
    salary_currency text DEFAULT 'VND'::text,
    demand_level text,
    sources_json jsonb
);


ALTER TABLE core.career_stats OWNER TO postgres;

--
-- Name: career_tag_map; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.career_tag_map (
    career_id bigint NOT NULL,
    tag_id bigint NOT NULL
);


ALTER TABLE core.career_tag_map OWNER TO postgres;

--
-- Name: career_tags; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.career_tags (
    id bigint NOT NULL,
    name text NOT NULL
);


ALTER TABLE core.career_tags OWNER TO postgres;

--
-- Name: career_tags_id_seq; Type: SEQUENCE; Schema: core; Owner: postgres
--

CREATE SEQUENCE core.career_tags_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE core.career_tags_id_seq OWNER TO postgres;

--
-- Name: career_tags_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: postgres
--

ALTER SEQUENCE core.career_tags_id_seq OWNED BY core.career_tags.id;


--
-- Name: careers; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.careers (
    id bigint NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    category_id bigint,
    short_desc text,
    content_md text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE core.careers OWNER TO postgres;

--
-- Name: careers_id_seq; Type: SEQUENCE; Schema: core; Owner: postgres
--

CREATE SEQUENCE core.careers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE core.careers_id_seq OWNER TO postgres;

--
-- Name: careers_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: postgres
--

ALTER SEQUENCE core.careers_id_seq OWNED BY core.careers.id;


--
-- Name: comments; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.comments (
    id bigint NOT NULL,
    post_id bigint NOT NULL,
    user_id bigint NOT NULL,
    parent_id bigint,
    content text NOT NULL,
    status text DEFAULT 'Visible'::text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE core.comments OWNER TO postgres;

--
-- Name: comments_id_seq; Type: SEQUENCE; Schema: core; Owner: postgres
--

CREATE SEQUENCE core.comments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE core.comments_id_seq OWNER TO postgres;

--
-- Name: comments_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: postgres
--

ALTER SEQUENCE core.comments_id_seq OWNED BY core.comments.id;


--
-- Name: essays; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.essays (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    lang text DEFAULT 'vi'::text,
    content text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE core.essays OWNER TO postgres;

--
-- Name: essays_id_seq; Type: SEQUENCE; Schema: core; Owner: postgres
--

CREATE SEQUENCE core.essays_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE core.essays_id_seq OWNER TO postgres;

--
-- Name: essays_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: postgres
--

ALTER SEQUENCE core.essays_id_seq OWNED BY core.essays.id;


--
-- Name: reactions; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.reactions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    post_id bigint,
    comment_id bigint,
    value public.reaction_value NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT reactions_check CHECK (((post_id IS NOT NULL) <> (comment_id IS NOT NULL)))
);


ALTER TABLE core.reactions OWNER TO postgres;

--
-- Name: reactions_id_seq; Type: SEQUENCE; Schema: core; Owner: postgres
--

CREATE SEQUENCE core.reactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE core.reactions_id_seq OWNER TO postgres;

--
-- Name: reactions_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: postgres
--

ALTER SEQUENCE core.reactions_id_seq OWNED BY core.reactions.id;


--
-- Name: users; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.users (
    id bigint NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    full_name text NOT NULL,
    avatar_url text,
    role text DEFAULT 'Reader'::text,
    is_locked boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    last_login timestamp with time zone
);


ALTER TABLE core.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: core; Owner: postgres
--

CREATE SEQUENCE core.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE core.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: postgres
--

ALTER SEQUENCE core.users_id_seq OWNED BY core.users.id;


--
-- Name: assessments id; Type: DEFAULT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.assessments ALTER COLUMN id SET DEFAULT nextval('core.assessments_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.audit_logs ALTER COLUMN id SET DEFAULT nextval('core.audit_logs_id_seq'::regclass);


--
-- Name: blog_posts id; Type: DEFAULT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.blog_posts ALTER COLUMN id SET DEFAULT nextval('core.blog_posts_id_seq'::regclass);


--
-- Name: career_categories id; Type: DEFAULT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.career_categories ALTER COLUMN id SET DEFAULT nextval('core.career_categories_id_seq'::regclass);


--
-- Name: career_tags id; Type: DEFAULT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.career_tags ALTER COLUMN id SET DEFAULT nextval('core.career_tags_id_seq'::regclass);


--
-- Name: careers id; Type: DEFAULT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.careers ALTER COLUMN id SET DEFAULT nextval('core.careers_id_seq'::regclass);


--
-- Name: comments id; Type: DEFAULT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.comments ALTER COLUMN id SET DEFAULT nextval('core.comments_id_seq'::regclass);


--
-- Name: essays id; Type: DEFAULT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.essays ALTER COLUMN id SET DEFAULT nextval('core.essays_id_seq'::regclass);


--
-- Name: reactions id; Type: DEFAULT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.reactions ALTER COLUMN id SET DEFAULT nextval('core.reactions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.users ALTER COLUMN id SET DEFAULT nextval('core.users_id_seq'::regclass);


--
-- Data for Name: career_embeddings; Type: TABLE DATA; Schema: ai; Owner: postgres
--



--
-- Data for Name: user_embeddings; Type: TABLE DATA; Schema: ai; Owner: postgres
--



--
-- Data for Name: assessments; Type: TABLE DATA; Schema: core; Owner: postgres
--

COPY core.assessments (id, user_id, a_type, scores, created_at) FROM stdin;
1	2	RIASEC	{"A": 0.3, "C": 0.2, "E": 0.4, "I": 0.7, "R": 0.4, "S": 0.5}	2025-10-11 18:31:17.308048+00
2	2	BigFive	{"A": 0.73, "C": 0.58, "E": 0.41, "N": 0.32, "O": 0.66}	2025-10-11 18:31:17.308972+00
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: core; Owner: postgres
--

COPY core.audit_logs (id, actor_id, action, entity, entity_id, data_json, created_at) FROM stdin;
\.


--
-- Data for Name: blog_posts; Type: TABLE DATA; Schema: core; Owner: postgres
--

COPY core.blog_posts (id, author_id, title, slug, content_md, status, published_at, created_at, updated_at) FROM stdin;
1	1	Giá»›i thiá»‡u há»‡ thá»‘ng CareerAI	gioi-thieu-careerai	# CareerAI\r\nHá»‡ thá»‘ng gá»£i Ă½ nghá» nghiá»‡p dá»±a trĂªn RIASEC, Big Five vĂ  embedding.	Published	2025-10-11 18:31:17.303771+00	2025-10-11 18:31:17.303771+00	2025-10-11 18:31:17.303771+00
\.


--
-- Data for Name: career_categories; Type: TABLE DATA; Schema: core; Owner: postgres
--

COPY core.career_categories (id, name, parent_id) FROM stdin;
1	CĂ´ng nghá»‡ thĂ´ng tin	\N
2	Khoa há»c dá»¯ liá»‡u	\N
3	Ká»¹ thuáº­t pháº§n má»m	\N
\.


--
-- Data for Name: career_stats; Type: TABLE DATA; Schema: core; Owner: postgres
--

COPY core.career_stats (career_id, market_outlook, avg_salary, salary_currency, demand_level, sources_json) FROM stdin;
1	TÄƒng trÆ°á»Ÿng máº¡nh	35000000.00	VND	High	{"source": "VNIT Report 2025"}
2	á»”n Ä‘á»‹nh	32000000.00	VND	Medium	{"source": "VNIT Report 2025"}
3	Ráº¥t cao	30000000.00	VND	High	{"source": "VNIT Report 2025"}
\.


--
-- Data for Name: career_tag_map; Type: TABLE DATA; Schema: core; Owner: postgres
--

COPY core.career_tag_map (career_id, tag_id) FROM stdin;
1	1
2	4
3	5
\.


--
-- Data for Name: career_tags; Type: TABLE DATA; Schema: core; Owner: postgres
--

COPY core.career_tags (id, name) FROM stdin;
1	Python
2	SQL
3	Machine Learning
4	Deep Learning
5	System Design
\.


--
-- Data for Name: careers; Type: TABLE DATA; Schema: core; Owner: postgres
--



--
-- Data for Name: comments; Type: TABLE DATA; Schema: core; Owner: postgres
--

COPY core.comments (id, post_id, user_id, parent_id, content, status, created_at) FROM stdin;
1	1	2	\N	BĂ i viáº¿t há»¯u Ă­ch!	Visible	2025-10-11 18:31:17.305299+00
\.


--
-- Data for Name: essays; Type: TABLE DATA; Schema: core; Owner: postgres
--

COPY core.essays (id, user_id, lang, content, created_at) FROM stdin;
\.


--
-- Data for Name: reactions; Type: TABLE DATA; Schema: core; Owner: postgres
--

COPY core.reactions (id, user_id, post_id, comment_id, value, created_at) FROM stdin;
1	3	1	\N	love	2025-10-11 18:31:17.306416+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: core; Owner: postgres
--

COPY core.users (id, email, password_hash, full_name, avatar_url, role, is_locked, created_at, last_login) FROM stdin;
1	admin@local	$2y$10$ABCDEFGHIJKLMNOPQRSTUV/abcd1234567890abcdefghiJK	Admin Local	\N	Admin	f	2025-10-11 18:31:17.290501+00	\N
2	alice@example.com	$2y$10$ABCDEFGHIJKLMNOPQRSTUV/abcd1234567890abcdefghiJK	Alice Nguyen	\N	Reader	f	2025-10-11 18:31:17.290501+00	\N
3	bob@example.com	$2y$10$ABCDEFGHIJKLMNOPQRSTUV/abcd1234567890abcdefghiJK	Bob Tran	\N	Reader	f	2025-10-11 18:31:17.290501+00	\N
\.


--
-- Name: assessments_id_seq; Type: SEQUENCE SET; Schema: core; Owner: postgres
--

SELECT pg_catalog.setval('core.assessments_id_seq', 2, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: core; Owner: postgres
--

SELECT pg_catalog.setval('core.audit_logs_id_seq', 1, false);


--
-- Name: blog_posts_id_seq; Type: SEQUENCE SET; Schema: core; Owner: postgres
--

SELECT pg_catalog.setval('core.blog_posts_id_seq', 1, true);


--
-- Name: career_categories_id_seq; Type: SEQUENCE SET; Schema: core; Owner: postgres
--

SELECT pg_catalog.setval('core.career_categories_id_seq', 3, true);


--
-- Name: career_tags_id_seq; Type: SEQUENCE SET; Schema: core; Owner: postgres
--

SELECT pg_catalog.setval('core.career_tags_id_seq', 5, true);


--
-- Name: careers_id_seq; Type: SEQUENCE SET; Schema: core; Owner: postgres
--

SELECT pg_catalog.setval('core.careers_id_seq', 3, true);


--
-- Name: comments_id_seq; Type: SEQUENCE SET; Schema: core; Owner: postgres
--

SELECT pg_catalog.setval('core.comments_id_seq', 1, true);


--
-- Name: essays_id_seq; Type: SEQUENCE SET; Schema: core; Owner: postgres
--

SELECT pg_catalog.setval('core.essays_id_seq', 1, false);


--
-- Name: reactions_id_seq; Type: SEQUENCE SET; Schema: core; Owner: postgres
--

SELECT pg_catalog.setval('core.reactions_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: core; Owner: postgres
--

SELECT pg_catalog.setval('core.users_id_seq', 3, true);


--
-- Name: career_embeddings career_embeddings_pkey; Type: CONSTRAINT; Schema: ai; Owner: postgres
--

ALTER TABLE ONLY ai.career_embeddings
    ADD CONSTRAINT career_embeddings_pkey PRIMARY KEY (career_id);


--
-- Name: user_embeddings user_embeddings_pkey; Type: CONSTRAINT; Schema: ai; Owner: postgres
--

ALTER TABLE ONLY ai.user_embeddings
    ADD CONSTRAINT user_embeddings_pkey PRIMARY KEY (user_id);


--
-- Name: assessments assessments_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.assessments
    ADD CONSTRAINT assessments_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: blog_posts blog_posts_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.blog_posts
    ADD CONSTRAINT blog_posts_pkey PRIMARY KEY (id);


--
-- Name: blog_posts blog_posts_slug_key; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.blog_posts
    ADD CONSTRAINT blog_posts_slug_key UNIQUE (slug);


--
-- Name: career_categories career_categories_name_key; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.career_categories
    ADD CONSTRAINT career_categories_name_key UNIQUE (name);


--
-- Name: career_categories career_categories_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.career_categories
    ADD CONSTRAINT career_categories_pkey PRIMARY KEY (id);


--
-- Name: career_stats career_stats_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.career_stats
    ADD CONSTRAINT career_stats_pkey PRIMARY KEY (career_id);


--
-- Name: career_tag_map career_tag_map_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.career_tag_map
    ADD CONSTRAINT career_tag_map_pkey PRIMARY KEY (career_id, tag_id);


--
-- Name: career_tags career_tags_name_key; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.career_tags
    ADD CONSTRAINT career_tags_name_key UNIQUE (name);


--
-- Name: career_tags career_tags_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.career_tags
    ADD CONSTRAINT career_tags_pkey PRIMARY KEY (id);


--
-- Name: careers careers_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.careers
    ADD CONSTRAINT careers_pkey PRIMARY KEY (id);


--
-- Name: careers careers_slug_key; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.careers
    ADD CONSTRAINT careers_slug_key UNIQUE (slug);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: essays essays_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.essays
    ADD CONSTRAINT essays_pkey PRIMARY KEY (id);


--
-- Name: reactions reactions_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.reactions
    ADD CONSTRAINT reactions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_career_emb_ivf_cos; Type: INDEX; Schema: ai; Owner: postgres
--

CREATE INDEX idx_career_emb_ivf_cos ON ai.career_embeddings USING ivfflat (emb public.vector_cosine_ops) WITH (lists='100');


--
-- Name: idx_user_emb_ivf_cos; Type: INDEX; Schema: ai; Owner: postgres
--

CREATE INDEX idx_user_emb_ivf_cos ON ai.user_embeddings USING ivfflat (emb public.vector_cosine_ops) WITH (lists='50');


--
-- Name: idx_assessments_type; Type: INDEX; Schema: core; Owner: postgres
--

CREATE INDEX idx_assessments_type ON core.assessments USING btree (a_type);


--
-- Name: idx_assessments_user; Type: INDEX; Schema: core; Owner: postgres
--

CREATE INDEX idx_assessments_user ON core.assessments USING btree (user_id);


--
-- Name: idx_audit_entity; Type: INDEX; Schema: core; Owner: postgres
--

CREATE INDEX idx_audit_entity ON core.audit_logs USING btree (entity, entity_id);


--
-- Name: idx_careers_category; Type: INDEX; Schema: core; Owner: postgres
--

CREATE INDEX idx_careers_category ON core.careers USING btree (category_id);


--
-- Name: idx_comments_parent; Type: INDEX; Schema: core; Owner: postgres
--

CREATE INDEX idx_comments_parent ON core.comments USING btree (parent_id);


--
-- Name: idx_comments_post; Type: INDEX; Schema: core; Owner: postgres
--

CREATE INDEX idx_comments_post ON core.comments USING btree (post_id);


--
-- Name: idx_essays_user; Type: INDEX; Schema: core; Owner: postgres
--

CREATE INDEX idx_essays_user ON core.essays USING btree (user_id);


--
-- Name: idx_reactions_comm; Type: INDEX; Schema: core; Owner: postgres
--

CREATE INDEX idx_reactions_comm ON core.reactions USING btree (comment_id);


--
-- Name: idx_reactions_post; Type: INDEX; Schema: core; Owner: postgres
--

CREATE INDEX idx_reactions_post ON core.reactions USING btree (post_id);


--
-- Name: idx_reactions_user; Type: INDEX; Schema: core; Owner: postgres
--

CREATE INDEX idx_reactions_user ON core.reactions USING btree (user_id);


--
-- Name: career_embeddings career_embeddings_career_id_fkey; Type: FK CONSTRAINT; Schema: ai; Owner: postgres
--

ALTER TABLE ONLY ai.career_embeddings
    ADD CONSTRAINT career_embeddings_career_id_fkey FOREIGN KEY (career_id) REFERENCES core.careers(id) ON DELETE CASCADE;


--
-- Name: user_embeddings user_embeddings_user_id_fkey; Type: FK CONSTRAINT; Schema: ai; Owner: postgres
--

ALTER TABLE ONLY ai.user_embeddings
    ADD CONSTRAINT user_embeddings_user_id_fkey FOREIGN KEY (user_id) REFERENCES core.users(id) ON DELETE CASCADE;


--
-- Name: assessments assessments_user_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.assessments
    ADD CONSTRAINT assessments_user_id_fkey FOREIGN KEY (user_id) REFERENCES core.users(id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.audit_logs
    ADD CONSTRAINT audit_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES core.users(id) ON DELETE SET NULL;


--
-- Name: blog_posts blog_posts_author_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.blog_posts
    ADD CONSTRAINT blog_posts_author_id_fkey FOREIGN KEY (author_id) REFERENCES core.users(id) ON DELETE SET NULL;


--
-- Name: career_categories career_categories_parent_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.career_categories
    ADD CONSTRAINT career_categories_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES core.career_categories(id) ON DELETE SET NULL;


--
-- Name: career_stats career_stats_career_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.career_stats
    ADD CONSTRAINT career_stats_career_id_fkey FOREIGN KEY (career_id) REFERENCES core.careers(id) ON DELETE CASCADE;


--
-- Name: career_tag_map career_tag_map_career_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.career_tag_map
    ADD CONSTRAINT career_tag_map_career_id_fkey FOREIGN KEY (career_id) REFERENCES core.careers(id) ON DELETE CASCADE;


--
-- Name: career_tag_map career_tag_map_tag_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.career_tag_map
    ADD CONSTRAINT career_tag_map_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES core.career_tags(id) ON DELETE CASCADE;


--
-- Name: careers careers_category_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.careers
    ADD CONSTRAINT careers_category_id_fkey FOREIGN KEY (category_id) REFERENCES core.career_categories(id) ON DELETE SET NULL;


--
-- Name: comments comments_parent_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.comments
    ADD CONSTRAINT comments_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES core.comments(id) ON DELETE CASCADE;


--
-- Name: comments comments_post_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.comments
    ADD CONSTRAINT comments_post_id_fkey FOREIGN KEY (post_id) REFERENCES core.blog_posts(id) ON DELETE CASCADE;


--
-- Name: comments comments_user_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.comments
    ADD CONSTRAINT comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES core.users(id) ON DELETE CASCADE;


--
-- Name: essays essays_user_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.essays
    ADD CONSTRAINT essays_user_id_fkey FOREIGN KEY (user_id) REFERENCES core.users(id) ON DELETE CASCADE;


--
-- Name: reactions reactions_comment_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.reactions
    ADD CONSTRAINT reactions_comment_id_fkey FOREIGN KEY (comment_id) REFERENCES core.comments(id) ON DELETE CASCADE;


--
-- Name: reactions reactions_post_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.reactions
    ADD CONSTRAINT reactions_post_id_fkey FOREIGN KEY (post_id) REFERENCES core.blog_posts(id) ON DELETE CASCADE;


--
-- Name: reactions reactions_user_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.reactions
    ADD CONSTRAINT reactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES core.users(id) ON DELETE CASCADE;


--
-- Name: SCHEMA ai; Type: ACL; Schema: -; Owner: postgres
--

GRANT USAGE ON SCHEMA ai TO career_user;


--
-- Name: SCHEMA core; Type: ACL; Schema: -; Owner: postgres
--

GRANT USAGE ON SCHEMA core TO career_user;


--
-- Name: TABLE career_embeddings; Type: ACL; Schema: ai; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE ai.career_embeddings TO career_user;


--
-- Name: TABLE user_embeddings; Type: ACL; Schema: ai; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE ai.user_embeddings TO career_user;


--
-- Name: TABLE assessments; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE core.assessments TO career_user;


--
-- Name: SEQUENCE assessments_id_seq; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE core.assessments_id_seq TO career_user;


--
-- Name: TABLE audit_logs; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE core.audit_logs TO career_user;


--
-- Name: SEQUENCE audit_logs_id_seq; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE core.audit_logs_id_seq TO career_user;


--
-- Name: TABLE blog_posts; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE core.blog_posts TO career_user;


--
-- Name: SEQUENCE blog_posts_id_seq; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE core.blog_posts_id_seq TO career_user;


--
-- Name: TABLE career_categories; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE core.career_categories TO career_user;


--
-- Name: SEQUENCE career_categories_id_seq; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE core.career_categories_id_seq TO career_user;


--
-- Name: TABLE career_stats; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE core.career_stats TO career_user;


--
-- Name: TABLE career_tag_map; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE core.career_tag_map TO career_user;


--
-- Name: TABLE career_tags; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE core.career_tags TO career_user;


--
-- Name: SEQUENCE career_tags_id_seq; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE core.career_tags_id_seq TO career_user;


--
-- Name: TABLE careers; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE core.careers TO career_user;


--
-- Name: SEQUENCE careers_id_seq; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE core.careers_id_seq TO career_user;


--
-- Name: TABLE comments; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE core.comments TO career_user;


--
-- Name: SEQUENCE comments_id_seq; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE core.comments_id_seq TO career_user;


--
-- Name: TABLE essays; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE core.essays TO career_user;


--
-- Name: SEQUENCE essays_id_seq; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE core.essays_id_seq TO career_user;


--
-- Name: TABLE reactions; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE core.reactions TO career_user;


--
-- Name: SEQUENCE reactions_id_seq; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE core.reactions_id_seq TO career_user;


--
-- Name: TABLE users; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE core.users TO career_user;


--
-- Name: SEQUENCE users_id_seq; Type: ACL; Schema: core; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE core.users_id_seq TO career_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: ai; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA ai GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO career_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: core; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA core GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO career_user;


--
-- PostgreSQL database dump complete
--

