apiVersion: apps/v1
kind: Deployment
metadata:
  name: nckh-backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: nckh-backend:latest
          ports:
            - containerPort: 8000
          env:
            - name: DATABASE_URL
              value: postgresql://postgres:123456@careerai-postgres:5432/career_ai
            - name: ALLOWED_ORIGINS
              value: http://localhost:3000
